In [15]:
import pandas as pd

In [17]:
df=pd.read_csv(r"C:\Users\ketha\Downloads\customer_shopping_behavior.csv")

In [ ]:
df.head(5)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             3900 non-null   int64
 1   age                     3900 non-null   int64
 2   gender                  3900 non-null   object
 3   item_purchased          3900 non-null   object
 4   category                3900 non-null   object
 5   purchase_amount         3900 non-null   int64
 6   location                3900 non-null   object
 7   size                    3900 non-null   object
 8   color                   3900 non-null   object
 9   season                  3900 non-null   object
 10  review_rating           3900 non-null   float64
 11  subscription_status     3900 non-null   object
 12  shipping_type           3900 non-null   object
 13  discount_applied        3900 non-null   object
 14  previous_purchases      3900 non-null   int64
 15  payment_method          3900 non-null   object
 16  frequency_of_purchases  3900 non-null   object
 17  age_group               3900 non-null   category
 18  purchase_frequency      3900 non-null   int64
dtypes: category(1), float64(1), int64(5), object(12)
memory usage: 552.6+ KB

In [ ]:
df.describe(include="all")

In [ ]:
df.isnull().sum()

In [19]:
df["Review Rating"]=df.groupby("Category")["Review Rating"].transform(lambda x: x.fillna(x.median()))

In [21]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(" ","_")

In [23]:
df=df.rename(columns={"purchase_amount_(usd)":"purchase_amount"})

In [25]:
labels=['Young_Adult','Adult','Middle Aged','Senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

In [ ]:
df[['age','age_group']].head(5)

In [ ]:
df['frequency_of_purchases'].head(10)

In [27]:
frequency_mapping={
    'Fortnightly':14,
    'Weekly':7,
    'Annually':365,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Monthly':30,
    'Every 3 Months':90
}

df['purchase_frequency']=df['frequency_of_purchases'].map(frequency_mapping)

In [ ]:
df[['purchase_frequency','frequency_of_purchases']].head(10)

In [ ]:
df[['discount_applied','promo_code_used']]

In [29]:
(df['discount_applied']==df['promo_code_used']).all()

True

In [33]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency'],
      dtype='object')

In [31]:
df=df.drop('promo_code_used',axis=1)

In [ ]:
pip install mysql-connector-python sqlalchemy pandas

In [ ]:
!pip install mysql-connector-python sqlalchemy pandas

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:Sowmya%4005@localhost:3306/company"
)

In [ ]:
engine.connect()

In [ ]:
pd.read_sql("SHOW TABLES;", engine)

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ---------------------------------------- 0.0/45.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/45.3 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.3 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.3 kB 162.5 kB/s eta 0:00:01
   --------------------------- ------------ 30.7/45.3 kB 187.9 kB/s eta 0:00:01
   ---------------------------------------- 45.3/45.3 kB 248.7 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [11]:
pd.read_sql("SHOW TABLES;", engine)

  Tables_in_company
0               emp

In [37]:
df.to_sql(
    name="customer_shopping_behavior",
    con=engine,
    if_exists="replace",
    index=False
)

3900

In [39]:
pd.read_sql("Show Tables;",engine)

            Tables_in_company
0  customer_shopping_behavior
1                         emp

In [41]:
pd.read_sql("SELECT * FROM customer_shopping_behavior LIMIT 5;", engine)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle Aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young_Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle Aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young_Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle Aged,365